/* 
html {
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
} */

body {
    background: linear-gradient(-45deg, #2f4353, #2f4353, gray, hsl(233, 72%, 49%));
    background-size: 600% 600%;
    animation: gradient 30s ease infinite;
}

.colorwhite {
    color: white;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


@import url(https://fonts.googleapis.com/css?family=Anton);

/* body { background-color: #2f4353;
background-image: linear-gradient(315deg, #2f4353 0%, gray 74%);
} */

.unbreakable-container {
    /* position: absolute; */
    bottom: 10px;
    left: 20px;
}

.unbreakable {
    font-family: 'Anton', sans-serif;
    line-height: 1;

    letter-spacing: -.07em;

    color: white;
}

.ks {
    font-family: 'Anton', sans-serif;
    font-size: 45px;
    line-height: 1;

    margin-top: -11px;

    -webkit-transition: all .1s ease-in-out;
    transition: all .1s cubic-bezier(.190, 1.000, .220, 1.000) 3s;
    -webkit-transform: translateX(-1000%);
    -ms-transform: translateX(-1000%);
    transform: translateX(-1000%);
    letter-spacing: -1px;
    text-transform: uppercase;

    color: black;
}

.animate .ks {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

span {
    font-family: 'Anton', Helvetica, sans-serif;
    font-size: 40px;

    text-transform: uppercase;

    opacity: 0;
    color: #fff;

    filter: alpha(opacity=0);
}

.able {
    -webkit-transition: all .1s cubic-bezier(.190, 1.000, .220, 1.000) 2.3s;
    transition: all .1s cubic-bezier(.190, 1.000, .220, 1.000) 2.3s;
    letter-spacing: -.07em;
}

.break {
    -webkit-transition: all .2s ease-in-out 2s;
    transition: all .2s ease-in-out 2s;
    letter-spacing: -.07em;
}

.un {
    -webkit-transition: all .3s ease-in-out 1.7s;
    transition: all .3s ease-in-out 1.7s;
    letter-spacing: -.07em;
}

.animate .un {
    font-size: 40px;

    -webkit-transform: scale(1.5, 1.5);
    -ms-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);

    opacity: 1;

    filter: alpha(opacity=100);
}

.animate .break {
    font-size: 60px;

    -webkit-transform: scale(1.5, 1.5);
    -ms-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);

    opacity: 1;

    filter: alpha(opacity=100);
}

.animate .able {
    font-size: 80px;

    -webkit-transform: scale(1.5, 1.5);
    -ms-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);

    opacity: 1;

    filter: alpha(opacity=100);
}

main {
    background-color: #b1bfd8;
    background-image: linear-gradient(315deg, #b1bfd8 0%, hsl(219, 50%, 27%) 74%);
}

Resources h1 {
    color: gray;
}

.here {
    background: linear-gradient(-45deg, #2f4353, #2f4353, gray, hsl(233, 72%, 49%));
    background-size: 400% 400%;
    animation: gradient 30s ease infinite;
}

p {
    color: gainsboro;
    font-size: medium;
}

/* joel - I added styling here for the night planner time slots. these were taken from hw5 just to get it to show nicely on the page. this will need changing later */
.timeSlotRow {
    white-space: pre-wrap;
    height: 50px;
}

.timeSlotHourColumn {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
}

.past {
    background-color: #d3d3d3;
    border: 1px solid white;
}

.future {
    background-color: #77dd77;
    border: 1px solid white;
}

.present {
    background-color: #ff6961;
    border: 1px solid white;
}

textarea {
    background: transparent;
    resize: none;
    border: none;
    color: #000000;
    width: 100%;
}

.saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06AED5;
    color: white;
}

.notesSlotRow {
    white-space: pre-wrap;
    height: 200px;
}

/* 
*/